body {
    font-family: 'Petrona', sans-serif;
     box-sizing: border-box; 
     background-image: linear-gradient( #ede8e5, #c7ff9f);
}

nav {
    background-color: #ede8e5;
    color: #52504f;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #52504f;
}

a, h2 {
    text-transform: uppercase;
}

a:hover {
    color:#3fa820;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 10px;
    font-family: 'Junge', sans-serif;

}

h2, h3 {
    text-align: center;
}

p {
text-align: center;
font-size: 1.2rem;
}

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
  }

.clearFix::after {
    content: "";
    display: table;
    clear: both;
}

/* ============================== Media Queries ============================== */

/* ================  Phone ================ */

  @media (min-width: 320px) {
    .wrapper {
        width: 80%;
        margin: auto;
    }
    
    ul {
        text-align: center;
        margin-bottom: 20px;
        padding: 0 0 10px;
    }

    ul li {
        background-color: white;
        text-align: center;
        padding: 10px 0;
        margin: 5px 10px;
    }
    
    footer nav ul li, .contactSection ul li {
        background-color: #c7ff9f;
    }

    img {
        width: 80%;
        margin: 0 10%;
        padding: 0;
       }

    .skillsListItem {
        background-color:  #52504f;
        padding: 5px;
        margin: 2px;
        color: white;
    }

    h2 {
        padding-top: 40px;
    }

    footer nav, footer nav li ul {
        background-color:#c7ff9f;
    }

    footer nav ul {
        width: 90%;
        margin: auto;
        border-top: 1px solid #52504f;
    }


    #footerTitle {
        float: left;
        padding-top: 10px;
    }

    #backToTop {
        float: right;
     
    }

    .toggleListItem {
        display: none;
    }

  }

  /* ================  tablet ================ */

  @media (min-width: 768px ) {
      
    nav ul li {
        display: inline-block;
        background-color: #ede8e5;
    }

    .wrapper {
        width: 90%;
        margin: auto;
    }

    .intro img {
        max-width: 30%;
        height: auto;
        margin: 0;
        float: right;
        padding: 20px 0 0 0;
    }

    .intro p {
        width: 68%;
        float: left;
        text-align: left;
       }

    .col {
        width: 45%;
        float: left;
    }

    /* ================  
    https://stackoverflow.com/questions/3462298/select-every-nth-element-in-css
    credit: "boltClock"    
    ================ */
    .col:nth-child(2n) {
        float: right;
    }

    .skillsListItem {
        display: inline;
        border-radius: 5px;
        padding: 5px 20px;
    }

    #backToTop {
        display: none;
    }

  #footerTitle {
      float: none;
      padding: 0;
  }

  footer nav ul {
      padding: 20px 0 60px 0;
  }

  .toggleListItem:first-child {
      margin-right: 40%;
  }

    .toggleListItem {
        display: inline-block;
        margin: 0;
        padding: 0 5px 0;
    
    }

  }